* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
}

h1 {
    margin: 0;
    padding: 0 0 5px 0;
    font-size: 15pt;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 200px;
    height: 300px;
}

select::-ms-expand {
    display: none;
}

input[type='number'] {
    -moz-appearance:textfield;
    width: 50px;
    text-align: right;
}

input[type='email'] {
    min-width: 200px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

textarea {
    display: block;
    min-width: 300px;
    min-height: 300px;
    width: 100%;
    resize: none;
}

label {
    display: block;
    padding: 10px 0 5px 0;
}

.navbar {
    width: 100%;
    background-color: #222222;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    padding: 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    display: block;
    float: left;
    margin: 0;
    padding: 14px 16px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

.navbar li:hover {
    background-color: #226600;
    cursor: pointer;
}

.notifications {
    width: 100% - 4px;
    overflow: hidden;
    font-size: 10pt;
    color: #ffffff;
    margin: 2px;
    padding: 10px;
}

.notifications:hover {
    outline: solid 1pt #000000;
    cursor: pointer;
}

.box {
    float: left;
    margin: 5px;
    padding: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
}

.checkbox-list {
    margin: 0;
    padding: 5px;
    border: solid 1px #7e7e7e;
}

.checkbox-list.changed {
    box-shadow: 0 0 3px rgba(60, 179, 0, 0.75);
}

.field {
    display: block;
    width: 100%;
    border: solid 1px #7e7e7e;
}

.field:focus {
    border-color: #000000;
}

.field:active {
    border-color: #226600;
}

.field.changed:not(:invalid) {
    box-shadow: 0 0 3px rgba(60, 179, 0, 0.75);
}

.button {
    display: block;
    float: right;
    margin: 10px 0 0 0;
}
